.cm-s-amod.CodeMirror {
  background: #fafafa;
  color: #383a42;
}

.cm-s-amod .CodeMirror-gutters {
  background: #eee;
  border-right-width: 0;
}

.cm-s-amod .CodeMirror-guttermarker {
  color: white;
}

.cm-s-amod .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}

.cm-s-amod .CodeMirror-linenumber {
  color: #838a91;
  padding: 0 4px;
}

.cm-s-amod .CodeMirror-cursor {
  border-left: 1px solid #24292e;
}

.cm-s-amod div.CodeMirror-selected,
.cm-s-amod .CodeMirror-line::selection,
.cm-s-amod .CodeMirror-line > span::selection,
.cm-s-amod .CodeMirror-line > span > span::selection,
.cm-s-amod .CodeMirror-line::-moz-selection,
.cm-s-amod .CodeMirror-line > span::-moz-selection,
.cm-s-amod .CodeMirror-line > span > span::-moz-selection {
  background: #c3d5fd;
}

.cm-s-amod .CodeMirror-focused .CodeMirror-activeline-background {
  background: #e8f2ff;
}
.CodeMirror:not(.CodeMirror-focused) .CodeMirror-activeline-background {
  background: unset;
}

.cm-s-amod .CodeMirror-matchingbracket {
  color: #24292e !important;
  background-color: #24292e2d !important;
}

.cm-s-amod .CodeMirror-lines {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 12px;
  background: #fff;
  line-height: 1.5;
}

.cm-s-amod .cm-comment {
  color: #a0a1a7;
}

.cm-s-amod .cm-bracket {
  color: #7f7f83;
}

.cm-s-amod .cm-built-in {
  color: #c18401;
}

.cm-s-amod .cm-keyword {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #a626a4;
}

.cm-s-amod .cm-header {
  color: #3145b8;
  font-weight: 600;
}

.cm-s-amod .cm-string {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #50a14f;
}

.cm-s-amod .cm-chunk-name {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #0184bc;
}

.cm-s-amod .cm-wildcard {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #c18401;
}

.cm-s-amod .cm-variable {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #e45649;
}
