@import '~buefy/dist/buefy.css';

@import '~codemirror/lib/codemirror.css';
@import './codemirror/amod.css';

html,
body {
  background-color: azure;
  padding: 0.25%;
}

h1 {
  font-size: 1.2em;
}

textarea#results {
  border: 1px solid cornflowerblue;
  height: 87vh;
  padding: 0.5em;
  width: 100%;
}

.CodeMirror {
  border: 1px solid cornflowerblue;
  height: 87vh;
}

.CodeMirror * {
  font-family: monospace;
  font-size: 14px;
}
