@import 'bulma/bulma';
@import 'buefy/src/scss/buefy';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/addon/lint/lint.css';
@import './codemirror/amod.css';

$tab-border-color: #dbdbdb;

html,
body {
  background-color: azure;
  height: 100%;
  padding: 0.25%;
  width: 100%;
}

h1 {
  align-items: center;
  display: flex;
  font-size: 1.2em;
  padding-bottom: 0.5rem;

  img {
    padding-right: 0.4rem;
  }
}

.version-number {
  font-size: 0.8rem;
}

textarea {
  resize: none;
}

.results .textarea:not([rows]) {
  font-size: 0.85em;
  height: 96%;
  max-height: 96%; // overrides bulma setting
  padding: 0.45em;
}

.results .b-tabs {
  height: 100%;
}

.results section.tab-content {
  height: 100%;
  padding: 0;
}

.results section.tab-content .tab-item {
  height: 100%;
}

.CodeMirror {
  border-top: 1px solid $tab-border-color;
  height: 87vh;
}

.CodeMirror * {
  font-family: monospace;
  font-size: 14px;
}

.icon.is-tiny {
  height: 0.75rem;
  width: 0.75rem;
}

.icon-space {
  margin-right: 0.5em;
}

.icon-space-left {
  margin-left: 0.5em;
}

.buttons {
  margin-bottom: 0 !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  .column {
    padding-bottom: 0.5rem;

    & :not(.has-addons .control) > {
      button {
        font-size: 0.75em;
        margin: 0;
      }
    }
    button.is-light {
      border-color: $button-border-color;
    }
    // b-upload creates a bunch of things which means we need to target the label specifically
    label.upload.control {
      font-size: inherit;
      margin: 0;
    }
  }
}

.code-tile {
  margin: 0.8em 0 0.8em 0.8em;
}

.b-tabs.code-tabs {
  height: 100%;

  .tab-content {
    background-color: white;
    border: 1px solid $tab-border-color;
    border-top-color: transparent !important;
    padding: 0.5rem 0 0 0;
  }
}

.tile.is-small-gap {
  .tile.is-parent {
    padding: 0.66rem;
  }

  .tile.is-vertical > .tile.is-child:not(:last-child) {
    margin-bottom: 0.66rem !important;
  }
}
